body{
    margin: 0;
    padding: 0;
}

.image-wrapper{
    display: flex;
    justify-content: center;
    background: url(laptop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         